<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc-vHalfNext" version="5.5.11" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor-vHalfNext" version="3.3.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages-vHalfNext" version="3.3.8" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>